# Kaggle Recruit

## 前書き

盛んな地元のレストランを走らせることは、第一印象が現れるほど魅力的ではありません。多くの場合、ビジネスを傷つける可能性のあるあらゆる予期せぬ問題が発生します。

1つの一般的な苦境は、レストランでは、効果的に原料を購入し、スタッフをスケジュールするために、どれくらいの数の顧客が毎日期待するのかを知る必要があるということです。天気や地元の競争など、多くの予測不可能な要因がレストランの出席に影響するため、この予測は容易ではありません。過去のデータがほとんどない新しいレストランにとってはさらに難しいことです。

Recruit Holdingsは、自動化された将来の顧客予測を可能にする重要なデータセットに独自のアクセス権を持っています。具体的には、Recruit Holdingsは、レストランPepper Gourmet（レストランレビューサービス）、AirREGI（レストラン営業ポイント）、レストランボード（予約ログ管理ソフトウェア）を所有しています。

このコンテストでは、予約や訪問データを使用して、将来の日付にレストランの訪問者の総数を予測することに挑戦しています。この情報は、レストランがより効率的になり、顧客が楽しいダイニング体験を作成できるようにするのに役立ちます。

** テストセットは意図的に日本では「ゴールデンウィーク」と呼ばれる休日の週に及ぶことに注意してください。**

## ファイルの説明
これは2つのシステムからのリレーショナルデータセットです。各ファイルには、その起源を示すソース（air_またはhpg_）が付いています。各レストランにはユニークなレストランがair_store_idありhpg_store_idます。両方のシステムですべてのレストランがカバーされているわけではなく、予測する必要があるレストラン以外のデータが提供されていることに注意してください。緯度と経度は、レストランの識別を妨げるものではありません。

**air_reserve.csv**  
このファイルには、航空システムで行われた予約が含まれています。ここではreserve_datetime、予約が作成された時刻を示していvisit_datetimeますが、将来は訪問が行われる時刻です。  
air_store_id - 空気システムのレストランのID  
visit_datetime - 予約の時間  
reserve_datetime - 予約が行われた時間  
reserve_visitors - その予約の訪問者数  

**hpg_reserve.csv**  
このファイルには、hpgシステムで行われた予約が含まれています。  
hpg_store_id - hpgシステムのレストランのID  
visit_datetime - 予約の時間  
reserve_datetime - 予約が行われた時間  
reserve_visitors - その予約の訪問者数  

**air_store_info.csv**  
このファイルには、選択された航空レストランに関する情報が含まれています。列の名前と内容は自明です。  
air_store_id  
air_genre_name  
air_area_name  
latitude  
longitude  
注：緯度と経度は、店舗が属する地域の緯度と経度です

**hpg_store_info.csv **  
このファイルには、選択したhpgレストランに関する情報が含まれています。列の名前と内容は自明です。  
hpg_store_id  
hpg_genre_name  
hpg_area_name  
latitude  
longitude  
注：緯度と経度は、店舗が属する地域の緯度と経度です  

**store_id_relation.csv**  
このファイルを使用すると、空とhpgシステムの両方を持つ選択レストランに参加できます。     
hpg_store_id  
air_store_id  

**air_visit_data.csv**  
このファイルには、航空レストランの履歴データが含まれています。  
air_store_id  
visit_date - 日付  
visitors - 当日のレストラン訪問者数  

**sample_submission.csv**  
このファイルは、あなたが予測しなければならない日数を含め、正しい形式で提出物を表示します。  
id- IDが連結することによって形成されるair_store_idとvisit_date下線で  
visitors- 店舗と日付の組み合わせについて予測される訪問者の数  

**date_info.csv**  
このファイルは、データセット内のカレンダー日付に関する基本情報を提供します。    
calendar_date  
day_of_week  
holiday_flg - 日本の休日の日です。

# 事前知識

今回のデータは時系列データとなっております。    
時系列データとは、例えば「毎日の売り上げデータ」や「日々の気温のデータ」、「月ごとの飛行機乗客数」など、毎日（あるいは毎週・毎月・毎年）増えていくデータのことです。　　  
時系列データには「昨日の売り上げと今日の売り上げが似ている」といった関係性を持つことがよくあります。  
そのため、時系列データをうまく使えば、昨日の売り上げデータから、未来の売り上げデータを予測することができるかもしれません。  

時系列データを扱うときの注意点として、ただ時系列に並べて学習お行うことはとても危険です。  
時系列データでは棚の日付のみが入っている場合が多いですが、曜日や季節により全く異なるからです。  
ですので時系列データを扱う際はまずトレンドを合わせる事が大切です。

# 必要なライブラリのインポート

In [88]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# データのインポート

In [89]:
air_reserve = pd.read_csv("air_reserve.csv")
hpg_reserve = pd.read_csv("hpg_reserve.csv")

air_store_info = pd.read_csv("air_store_info.csv")
hpg_store_info = pd.read_csv("hpg_store_info.csv")

air_visit_data = pd.read_csv("air_visit_data.csv")

store_id_relation = pd.read_csv("store_id_relation.csv")

sample_submission = pd.read_csv("sample_submission.csv")
date_info = pd.read_csv("date_info.csv")

まずはデータを把握するためにも、一通り見ていきましょう。

In [90]:
air_reserve.head()

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,air_877f79706adbfb06,2016-01-01 19:00:00,2016-01-01 16:00:00,1
1,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,3
2,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,6
3,air_877f79706adbfb06,2016-01-01 20:00:00,2016-01-01 16:00:00,2
4,air_db80363d35f10926,2016-01-01 20:00:00,2016-01-01 01:00:00,5

In [91]:
hpg_reserve.head()

,hpg_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,hpg_c63f6f42e088e50f,2016-01-01 11:00:00,2016-01-01 09:00:00,1
1,hpg_dac72789163a3f47,2016-01-01 13:00:00,2016-01-01 06:00:00,3
2,hpg_c8e24dcf51ca1eb5,2016-01-01 16:00:00,2016-01-01 14:00:00,2
3,hpg_24bb207e5fd49d4a,2016-01-01 17:00:00,2016-01-01 11:00:00,5
4,hpg_25291c542ebb3bc2,2016-01-01 17:00:00,2016-01-01 03:00:00,13

In [92]:
air_store_info.head()

,air_store_id,air_genre_name,air_area_name,latitude,longitude
0,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
1,air_7cc17a324ae5c7dc,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
2,air_fee8dcf4d619598e,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
3,air_a17f0778617c76e2,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
4,air_83db5aff8f50478e,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599

In [93]:
hpg_store_info.head()

,hpg_store_id,hpg_genre_name,hpg_area_name,latitude,longitude
0,hpg_6622b62385aec8bf,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
1,hpg_e9e068dd49c5fa00,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
2,hpg_2976f7acb4b3a3bc,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
3,hpg_e51a522e098f024c,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
4,hpg_e3d0e1519894f275,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221

In [94]:
store_id_relation.head()

           air_store_id          hpg_store_id
0  air_63b13c56b7201bd9  hpg_4bc649e72e2a239a
1  air_a24bf50c3e90d583  hpg_c34b496d0305a809
2  air_c7f78b4f3cba33ff  hpg_cd8ae0d9bbd58ff9
3  air_947eb2cae4f3e8f2  hpg_de24ea49dc25d6b8
4  air_965b2e0cf4119003  hpg_653238a84804d8e7

In [95]:
air_visit_data.head()

           air_store_id  visit_date  visitors
0  air_ba937bf13d40fb24  2016-01-13        25
1  air_ba937bf13d40fb24  2016-01-14        32
2  air_ba937bf13d40fb24  2016-01-15        29
3  air_ba937bf13d40fb24  2016-01-16        22
4  air_ba937bf13d40fb24  2016-01-18         6

In [96]:
sample_submission.head()

                                id  visitors
0  air_00a91d42b08b08d9_2017-04-23         0
1  air_00a91d42b08b08d9_2017-04-24         0
2  air_00a91d42b08b08d9_2017-04-25         0
3  air_00a91d42b08b08d9_2017-04-26         0
4  air_00a91d42b08b08d9_2017-04-27         0

In [97]:
date_info.head()

  calendar_date day_of_week  holiday_flg
0    2016-01-01      Friday            1
1    2016-01-02    Saturday            1
2    2016-01-03      Sunday            1
3    2016-01-04      Monday            0
4    2016-01-05     Tuesday            0

かなりデータがばらけている事がわかりました。　　  
まず予測するテストデータの形を整えてデータを整理していきましょう。

In [98]:
sample_test = sample_submission["id"].str.split('_', expand=True)
sample_test["id"] = sample_test[0]+"_"+sample_test[1]
sample = sample_submission.copy()

In [99]:
sample["id"] = sample_test["id"]
sample["visit_date"] = sample_test[2]

TRGETをあとで分けられるよう来店者数をpredに置き換える

In [100]:
sample["visitors"] = "pred"

In [101]:
sample.head()

                     id visitors  visit_date
0  air_00a91d42b08b08d9     pred  2017-04-23
1  air_00a91d42b08b08d9     pred  2017-04-24
2  air_00a91d42b08b08d9     pred  2017-04-25
3  air_00a91d42b08b08d9     pred  2017-04-26
4  air_00a91d42b08b08d9     pred  2017-04-27

ひとまず、予測するサンプルデータの形を整え得る事ができました。  
2つの予約サイトのIDが違っているので、それを合わせていきましょう。

In [102]:
store_id_relation.head()

           air_store_id          hpg_store_id
0  air_63b13c56b7201bd9  hpg_4bc649e72e2a239a
1  air_a24bf50c3e90d583  hpg_c34b496d0305a809
2  air_c7f78b4f3cba33ff  hpg_cd8ae0d9bbd58ff9
3  air_947eb2cae4f3e8f2  hpg_de24ea49dc25d6b8
4  air_965b2e0cf4119003  hpg_653238a84804d8e7

### idの辞書化

In [103]:
store_id = store_id_relation.set_index('hpg_store_id')['air_store_id']

In [104]:
store_dict = store_id.to_dict()

### idをマージし無いIDは削除

In [105]:
hpg_reserves = pd.merge(hpg_reserve,store_id_relation, on = "hpg_store_id",how = "left")

In [106]:
hpg_reserves = hpg_reserves.dropna()

In [107]:
hpg_reserves.head()

,hpg_store_id,visit_datetime,reserve_datetime,reserve_visitors,air_store_id
103,hpg_878cc70b1abc76f7,2016-01-01 19:00:00,2016-01-01 15:00:00,4,air_db80363d35f10926
121,hpg_dc639640420bde5f,2016-01-01 19:00:00,2016-01-01 16:00:00,2,air_08cb3c4ee6cd6a22
272,hpg_babe2c3d962d7bb6,2016-01-02 17:00:00,2016-01-01 22:00:00,3,air_6b15edd1b4fbb96a
348,hpg_2e10e1956528199a,2016-01-02 18:00:00,2016-01-02 17:00:00,2,air_37189c92b6c761ec
349,hpg_2e10e1956528199a,2016-01-02 18:00:00,2016-01-01 20:00:00,2,air_37189c92b6c761ec

In [108]:
air_reserves = air_reserve

#### 日付データから時刻を消す

In [109]:
hpg_reserves["visit_datetime"] = hpg_reserves["visit_datetime"].str.split(' ', expand=True)
air_reserves["visit_datetime"] = air_reserves["visit_datetime"].str.split(' ', expand=True)

In [110]:
hpg_reserves.head()

,hpg_store_id,visit_datetime,reserve_datetime,reserve_visitors,air_store_id
103,hpg_878cc70b1abc76f7,2016-01-01,2016-01-01 15:00:00,4,air_db80363d35f10926
121,hpg_dc639640420bde5f,2016-01-01,2016-01-01 16:00:00,2,air_08cb3c4ee6cd6a22
272,hpg_babe2c3d962d7bb6,2016-01-02,2016-01-01 22:00:00,3,air_6b15edd1b4fbb96a
348,hpg_2e10e1956528199a,2016-01-02,2016-01-02 17:00:00,2,air_37189c92b6c761ec
349,hpg_2e10e1956528199a,2016-01-02,2016-01-01 20:00:00,2,air_37189c92b6c761ec

In [111]:
hpg_reserves = hpg_reserves.groupby(['hpg_store_id', 'visit_datetime']).sum().reset_index()
air_reserves = air_reserves.groupby(['air_store_id', 'visit_datetime']).sum().reset_index()

In [112]:
hpg_reserves["hpg_store_id"] = hpg_reserves["hpg_store_id"].map(store_dict)

In [113]:
hpg_reserves = hpg_reserves.rename(columns={'hpg_store_id': 'air_store_id'})

In [114]:
hpg_reserves.head()

           air_store_id visit_datetime  reserve_visitors
0  air_cbe867adcf44e14f     2016-01-09                 2
1  air_cbe867adcf44e14f     2016-01-11                 8
2  air_cbe867adcf44e14f     2016-01-14                11
3  air_cbe867adcf44e14f     2016-01-15                 8
4  air_cbe867adcf44e14f     2016-01-18                 9

In [115]:
air_reserves.head()

           air_store_id visit_datetime  reserve_visitors
0  air_00a91d42b08b08d9     2016-10-31                 2
1  air_00a91d42b08b08d9     2016-12-05                 9
2  air_00a91d42b08b08d9     2016-12-14                18
3  air_00a91d42b08b08d9     2016-12-17                 2
4  air_00a91d42b08b08d9     2016-12-20                 4

In [116]:
air_visit_data.head()

           air_store_id  visit_date  visitors
0  air_ba937bf13d40fb24  2016-01-13        25
1  air_ba937bf13d40fb24  2016-01-14        32
2  air_ba937bf13d40fb24  2016-01-15        29
3  air_ba937bf13d40fb24  2016-01-16        22
4  air_ba937bf13d40fb24  2016-01-18         6

In [117]:
air_visit_data2= air_visit_data.rename(columns={'visit_date': 'visit_datetime'})

In [118]:
air_reserves = pd.merge(air_visit_data2,air_reserves,on= ['air_store_id', 'visit_datetime']
                       ,how="left")

In [119]:
air_reserves.isnull().sum()

air_store_id             0
visit_datetime           0
visitors                 0
reserve_visitors    224044
dtype: int64

In [120]:
air_reserve

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,air_877f79706adbfb06,2016-01-01,2016-01-01 16:00:00,1
1,air_db4b38ebe7a7ceff,2016-01-01,2016-01-01 19:00:00,3
2,air_db4b38ebe7a7ceff,2016-01-01,2016-01-01 19:00:00,6
3,air_877f79706adbfb06,2016-01-01,2016-01-01 16:00:00,2
4,air_db80363d35f10926,2016-01-01,2016-01-01 01:00:00,5
5,air_db80363d35f10926,2016-01-02,2016-01-01 16:00:00,2
6,air_db80363d35f10926,2016-01-02,2016-01-01 15:00:00,4
7,air_3bb99a1fe0583897,2016-01-02,2016-01-02 14:00:00,2
8,air_3bb99a1fe0583897,2016-01-02,2016-01-01 20:00:00,2
9,air_2b8b29ddfd35018e,2016-01-02,2016-01-02 17:00:00,2
10,air_6b15edd1b4fbb96a,2016-01-02,2016-01-01 22:00:00,3
11,air_6b15edd1b4fbb96a,2016-01-02,2016-01-01 12:00:00,3
12,air_6b15edd1b4fbb96a,2016-01-02,2016-01-02 16:00:00,2
13,air_789466e488705c93,2016-01-02,2016-01-02 17:00:00,6
14,air_789466e488705c93,2016-01-02,2016-01-02 17:00:00,7
15,air_789466e488705c93,2016-01-02,2016-01-02 17:00:00,41
16,air_789466e488705c93,2016-01-02,2016-01-02 17:00:00,13
17,air_2b8b29ddfd35018e,2016-01-02,2016-01-02 17:00:00,2
18,air_6b15edd1b4fbb96a,2016-01-02,2016-01-01 12:00:00,3
19,air_877f79706adbfb06,2016-01-02,2016-01-01 16:00:00,2
20,air_db80363d35f10926,2016-01-02,2016-01-02 14:00:00,2
21,air_db80363d35f10926,2016-01-02,2016-01-02 02:00:00,3
22,air_f690c42545146e0a,2016-01-02,2016-01-02 17:00:00,2
23,air_2b8b29ddfd35018e,2016-01-02,2016-01-02 19:00:00,2
24,air_db80363d35f10926,2016-01-02,2016-01-02 02:00:00,6
25,air_db80363d35f10926,2016-01-02,2016-01-02 18:00:00,2
26,air_877f79706adbfb06,2016-01-02,2016-01-01 16:00:00,2
27,air_db80363d35f10926,2016-01-02,2016-01-02 18:00:00,4
28,air_db80363d35f10926,2016-01-02,2016-01-02 18:00:00,8
29,air_db80363d35f10926,2016-01-02,2016-01-02 16:00:00,3
...,...,...,...,...
92348,air_1033310359ceeac1,2017-05-26,2017-04-05 18:00:00,2
92349,air_1033310359ceeac1,2017-05-26,2017-04-21 17:00:00,2
92350,air_707d4b6328f2c2df,2017-05-27,2017-03-22 11:00:00,14
92351,air_1707a3f18bb0da07,2017-05-27,2017-04-14 17:00:00,14
92352,air_465bddfed3353b23,2017-05-27,2017-03-15 23:00:00,13
92353,air_63a750d8b4b6a976,2017-05-27,2017-04-15 14:00:00,3
92354,air_9b6af3db40da4ae2,2017-05-27,2017-04-09 21:00:00,32
92355,air_b439391e72899756,2017-05-27,2017-04-02 20:00:00,8
92356,air_c0385db498b391e5,2017-05-27,2017-04-21 00:00:00,6
92357,air_6b15edd1b4fbb96a,2017-05-27,2017-04-13 13:00:00,6
92358,air_df554c4527a1cfe6,2017-05-27,2017-04-22 20:00:00,6
92359,air_e55abd740f93ecc4,2017-05-27,2017-04-15 17:00:00,30
92360,air_2c6fef1ce0e13a5a,2017-05-27,2017-03-19 00:00:00,5
92361,air_3cad29d1a23209d2,2017-05-27,2017-02-09 18:00:00,3
92362,air_4092cfbd95a3ac1b,2017-05-27,2017-03-06 21:00:00,47
92363,air_683371d9baabf410,2017-05-28,2017-04-22 11:00:00,6
92364,air_6b15edd1b4fbb96a,2017-05-28,2017-02-20 11:00:00,16
92365,air_f911308e19d64236,2017-05-28,2017-04-22 15:00:00,6
92366,air_396166d47733d5c9,2017-05-28,2017-04-20 10:00:00,9
92367,air_396166d47733d5c9,2017-05-28,2017-04-06 21:00:00,13
92368,air_8093d0b565e9dbdf,2017-05-28,2017-04-02 18:00:00,7
92369,air_0867f7bebad6a649,2017-05-28,2017-02-01 22:00:00,48
92370,air_1033310359ceeac1,2017-05-28,2017-04-15 22:00:00,2
92371,air_1033310359ceeac1,2017-05-28,2017-04-18 17:00:00,2
92372,air_12c4fb7a423df20d,2017-05-29,2017-04-17 20:00:00,9
92373,air_db4b38ebe7a7ceff,2017-05-29,2017-04-17 19:00:00,6
92374,air_1033310359ceeac1,2017-05-30,2017-04-19 17:00:00,8
92375,air_877f79706adbfb06,2017-05-31,2017-04-12 23:00:00,3
92376,air_900d755ebd2f7bbd,2017-05-31,2017-04-19 16:00:00,10
92377,air_3cad29d1a23209d2,2017-05-31,2017-04-22 10:00:00,3

ひとまず、reserveの処理が終わりました。    
マージしていきましょう

In [121]:
air_reserves.sort_values(by = "visitors")[::-1].head(30)

                air_store_id visit_datetime  visitors  reserve_visitors
85314   air_cfdeb326418194ff     2017-03-08       877               NaN
214825  air_8c3175aa5e4fc569     2017-04-18       777               NaN
72836   air_f2985de32bb792e0     2016-07-10       675               NaN
172123  air_eca5e0064dc9314a     2016-08-30       627               NaN
143894  air_43d577e0c9460e64     2016-01-24       514               NaN
167504  air_9828505fefc77d75     2016-11-19       409               NaN
147739  air_e42bdc3377d1eee7     2016-12-14       372               NaN
151243  air_cb083b4789a8d3a2     2016-01-14       369               NaN
141539  air_07bb665f9cdfbdfb     2016-08-07       351               NaN
200611  air_c6aa2efba0ffc8eb     2017-01-23       348               NaN
188251  air_81bd68142db76f58     2017-03-28       335               NaN
47822   air_d98380a4aeb0290b     2016-12-24       328               NaN
172119  air_eca5e0064dc9314a     2016-08-26       325               NaN
172132  air_eca5e0064dc9314a     2016-09-08       325               NaN
235198  air_4570f52104fe0982     2016-05-01       311               NaN
88450   air_0919d54f0c9a24b8     2016-11-07       305               NaN
140702  air_9152d9926e5c4a3a     2016-01-13       269               NaN
13156   air_51281cd059d7b89b     2017-03-21       262               NaN
183217  air_1dea9815ccd36620     2017-02-04       261               NaN
7103    air_e8ed9335d0c38333     2016-11-12       248               NaN
13261   air_082908692355165e     2016-04-01       244               NaN
8846    air_7514d90009613cd6     2016-12-18       239             109.0
25398   air_54d6c25d33f5260e     2016-03-02       239               NaN
181092  air_746211c0b532e8aa     2017-03-19       235               NaN
211495  air_0e7c11b9abc50163     2016-07-26       229               NaN
107118  air_93b9bb641f8fc982     2016-06-05       228               NaN
229320  air_b2d8bc9c88b85f96     2016-08-28       228               NaN
165961  air_539d693f7317c62d     2016-06-29       222               NaN
52259   air_681b0c56328dd2af     2016-01-22       218               NaN
47823   air_d98380a4aeb0290b     2016-12-25       217               NaN

In [122]:
reserve = air_reserves.append(hpg_reserves)

/Users/ishikawaryuuichi/.pyenv/versions/anaconda3-4.3.0/lib/python3.6/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [123]:
reserve = reserve.groupby(['air_store_id', 'visit_datetime']).sum().reset_index()

In [124]:
reserve.sort_values(by = "visitors")[::-1].head(150)

                air_store_id visit_datetime  reserve_visitors  visitors
209888  air_cfdeb326418194ff     2017-03-08               0.0     877.0
138847  air_8c3175aa5e4fc569     2017-04-18               0.0     777.0
245833  air_f2985de32bb792e0     2016-07-10               0.0     675.0
237886  air_eca5e0064dc9314a     2016-08-30               0.0     627.0
63086   air_43d577e0c9460e64     2016-01-24               0.0     514.0
154552  air_9828505fefc77d75     2016-11-19               0.0     409.0
229120  air_e42bdc3377d1eee7     2016-12-14               0.0     372.0
205239  air_cb083b4789a8d3a2     2016-01-14               0.0     369.0
6468    air_07bb665f9cdfbdfb     2016-08-07               0.0     351.0
199299  air_c6aa2efba0ffc8eb     2017-01-23               0.0     348.0
128466  air_81bd68142db76f58     2017-03-28               0.0     335.0
218349  air_d98380a4aeb0290b     2016-12-24               0.0     328.0
237895  air_eca5e0064dc9314a     2016-09-08               0.0     325.0
237882  air_eca5e0064dc9314a     2016-08-26               0.0     325.0
64591   air_4570f52104fe0982     2016-05-01               0.0     311.0
9800    air_0919d54f0c9a24b8     2016-11-07               0.0     305.0
144002  air_9152d9926e5c4a3a     2016-01-13               0.0     269.0
76685   air_51281cd059d7b89b     2017-03-21               0.0     262.0
23184   air_1dea9815ccd36620     2017-02-04               0.0     261.0
234051  air_e8ed9335d0c38333     2016-11-12               0.0     248.0
6748    air_082908692355165e     2016-04-01              12.0     244.0
78975   air_54d6c25d33f5260e     2016-03-02               3.0     239.0
117686  air_7514d90009613cd6     2016-12-18             109.0     239.0
117103  air_746211c0b532e8aa     2017-03-19               0.0     235.0
12599   air_0e7c11b9abc50163     2016-07-26               0.0     229.0
180635  air_b2d8bc9c88b85f96     2016-08-28               0.0     228.0
147733  air_93b9bb641f8fc982     2016-06-05               0.0     228.0
78059   air_539d693f7317c62d     2016-06-29               0.0     222.0
102928  air_681b0c56328dd2af     2016-01-22               0.0     218.0
218350  air_d98380a4aeb0290b     2016-12-25               0.0     217.0
...                      ...            ...               ...       ...
140504  air_8e492076a1179383     2016-09-18               0.0     133.0
223317  air_df554c4527a1cfe6     2016-11-12              13.0     133.0
78614   air_546b353cbea4a45b     2017-02-16               0.0     132.0
138746  air_8c3175aa5e4fc569     2017-01-07               0.0     132.0
21242   air_1c0b150f9e696a5f     2017-03-30              20.0     132.0
144947  air_91beafbba9382b0a     2016-12-16               0.0     132.0
120708  air_78df4dc6a7e83e41     2016-12-24               0.0     132.0
21259   air_1c0b150f9e696a5f     2017-04-16              33.0     132.0
50203   air_37189c92b6c761ec     2016-01-03               4.0     132.0
116989  air_746211c0b532e8aa     2016-11-20               0.0     132.0
159246  air_9c6787aa03a45586     2017-04-05               0.0     131.0
42580   air_2f8ced25216df926     2017-03-13               0.0     131.0
66322   air_47070be6093f123e     2016-10-08               0.0     131.0
21240   air_1c0b150f9e696a5f     2017-03-28               6.0     131.0
159219  air_9c6787aa03a45586     2017-03-03               0.0     131.0
85657   air_5c7489c9ec755e2d     2016-09-11               0.0     131.0
21258   air_1c0b150f9e696a5f     2017-04-15              29.0     130.0
223430  air_df554c4527a1cfe6     2017-03-11              47.0     130.0
21239   air_1c0b150f9e696a5f     2017-03-27               0.0     130.0
245339  air_f267dd70a6a6b5d3     2017-04-02               0.0     130.0
21243   air_1c0b150f9e696a5f     2017-03-31               4.0     130.0
171042  air_a85f0c0c889f6b7e     2016-09-18               0.0     130.0
117690  air_7514d90009613cd6     2016-12-23              35.0     129.0
232973  air_e7fbee4e3cfe65c5     2016-10-11               0.0     129.0
42504   air_2f8ced25216df926     2016-12-24               0.0     129.0
223438  air_df554c4527a1cfe6     2017-03-19              13.0     129.0
178169  air_b1a72bf1ebf4b8ef     2016-10-22               0.0     129.0
204670  air_cadf9cfb510a1d78     2016-05-04               0.0     129.0
178170  air_b1a72bf1ebf4b8ef     2016-10-23               0.0     129.0
174550  air_ad13e71e21235131     2016-12-28               0.0     128.0

[150 rows x 4 columns]

In [125]:
reserve.shape

(257178, 4)

これでreserveの処理が終わりました。

In [126]:
air_store_info

,air_store_id,air_genre_name,air_area_name,latitude,longitude
0,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
1,air_7cc17a324ae5c7dc,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
2,air_fee8dcf4d619598e,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
3,air_a17f0778617c76e2,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
4,air_83db5aff8f50478e,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
5,air_99c3eae84130c1cb,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
6,air_f183a514cb8ff4fa,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
7,air_6b9fa44a9cf504a1,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
8,air_0919d54f0c9a24b8,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
9,air_2c6c79d597e48096,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
10,air_0164b9927d20bcc3,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
11,air_681f96e6a6595f82,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
12,air_ef920fa6f4b085f6,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
13,air_d3e7b5952cd09ccb,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
14,air_e64de0a6bf0739af,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
15,air_4ce7b17062a1bf73,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
16,air_290e7a57b390f78e,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17,air_4579cb0669fd411b,Italian/French,Fukuoka-ken Fukuoka-shi Daimyō,33.589216,130.392813
18,air_63a750d8b4b6a976,Italian/French,Fukuoka-ken Fukuoka-shi Daimyō,33.589216,130.392813
19,air_9438d67241c81314,Italian/French,Fukuoka-ken Fukuoka-shi Daimyō,33.589216,130.392813
20,air_929d8513e3cdb423,Italian/French,Fukuoka-ken Fukuoka-shi Daimyō,33.589216,130.392813
21,air_6c1128955c58b690,Italian/French,Fukuoka-ken Fukuoka-shi Daimyō,33.589216,130.392813
22,air_638c35eb25e53eea,Italian/French,Fukuoka-ken Fukuoka-shi Daimyō,33.589216,130.392813
23,air_a7404a854919e990,Italian/French,Fukuoka-ken Fukuoka-shi Daimyō,33.589216,130.392813
24,air_f6cdaf7b7fdc6d78,Italian/French,Fukuoka-ken Fukuoka-shi Daimyō,33.589216,130.392813
25,air_df9355c47c5df9d3,Italian/French,Fukuoka-ken Fukuoka-shi Daimyō,33.589216,130.392813
26,air_bf617aa68d5f1cfa,Italian/French,Tōkyō-to Setagaya-ku Setagaya,35.646572,139.653247
27,air_a218912784bf767d,Italian/French,Tōkyō-to Setagaya-ku Setagaya,35.646572,139.653247
28,air_506fe758114df773,Italian/French,Tōkyō-to Setagaya-ku Setagaya,35.646572,139.653247
29,air_0b9038300f8b2b50,Italian/French,Tōkyō-to Setagaya-ku Setagaya,35.646572,139.653247
...,...,...,...,...,...
799,air_c7d30ab0e07f31d5,Other,Tōkyō-to Taitō-ku Higashiueno,35.712607,139.779996
800,air_8a906e5801eac81c,Other,Tōkyō-to Taitō-ku Higashiueno,35.712607,139.779996
801,air_efef1e3daecce07e,Other,Ōsaka-fu Ōsaka-shi Kyōmachibori,34.687697,135.495413
802,air_26f10355d9b4d82a,Other,Ōsaka-fu Ōsaka-shi Kyōmachibori,34.687697,135.495413
803,air_4254c3fc3ad078bd,Other,Tōkyō-to Bunkyō-ku Kasuga,35.708068,139.752167
804,air_82a6ae14151953ba,Other,Tōkyō-to Bunkyō-ku Kasuga,35.708068,139.752167
805,air_24e8414b9b07decb,Other,Tōkyō-to Shibuya-ku Higashi,35.653217,139.711036
806,air_5e339a1f364cdb00,Other,Tōkyō-to Shibuya-ku Higashi,35.653217,139.711036
807,air_d07e57b21109304a,Western food,Tōkyō-to Shibuya-ku Shibuya,35.661777,139.704051
808,air_2cee51fa6fdf6c0d,Western food,Tōkyō-to Shibuya-ku Shibuya,35.661777,139.704051
809,air_12c4fb7a423df20d,Western food,Tōkyō-to Shibuya-ku Shibuya,35.661777,139.704051
810,air_25d8e5cc57dd87d9,Western food,Tōkyō-to Shibuya-ku Shibuya,35.661777,139.704051
811,air_57c9eea1a2b66e65,Western food,Tōkyō-to Suginami-ku Asagayaminami,35.699566,139.636438
812,air_0728814bd98f7367,Western food,Tōkyō-to Suginami-ku Asagayaminami,35.699566,139.636438
813,air_79f528087f49df06,Western food,Tōkyō-to Suginami-ku Asagayaminami,35.699566,139.636438
814,air_b45b8e456f53942a,Western food,Hokkaidō Sapporo-shi Minami 3 Jōnishi,43.055460,141.340956
815,air_0a74a5408a0b8642,Western food,Hokkaidō Sapporo-shi Minami 3 Jōnishi,43.055460,141.340956
816,air_890d7e28e8eaaa11,Western food,Tōkyō-to Chūō-ku Tsukiji,35.670651,139.771861
817,air_bedd35489e666605,Western food,Tōkyō-to Chūō-ku Tsukiji,35.670651,139.771861
818,air_daa7947e1c47f5ed,Western food,Tōkyō-to Chūō-ku Tsukiji,35.670651,139.771861
819,air_e9ebf7fc520ac76a,Western food,Tōkyō-to Itabashi-ku Itabashi,35.751165,139.709244
820,air_f4936b91c9addbf0,Western food,Tōkyō-to Itabashi-ku Itabashi,35.751165,139.709244
821,air_47beaffd3806c979,Western food,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595
822,air_edd5e3d696a5811b,Western food,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595
823,air_6b65745d432fd77f,International cuisine,Tōkyō-to Shibuya-ku Shibuya,35.661777,139.704051
824,air_9bf595ef095572fb,International cuisine,Tōkyō-to Shibuya-ku Shibuya,35.661777,139.704051
825,air_764f71040a413d4d,Asian,Tōkyō-to Shibuya-ku Shibuya,35.661777,139.704051
826,air_10bbe8acd943d8f6,Asian,Tōkyō-to Shibuya-ku Shibuya,35.661777,139.704051
827,air_7514d90009613cd6,Karaoke/Party,Hokkaidō Sapporo-shi Minami 3 Jōnishi,43.055460,141.340956
828,air_c8fe396d6c46275d,Karaoke/Party,Hokkaidō Sapporo-shi Minami 3 Jōnishi,43.055460,141.340956

In [127]:
hpg_store_info

,hpg_store_id,hpg_genre_name,hpg_area_name,latitude,longitude
0,hpg_6622b62385aec8bf,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
1,hpg_e9e068dd49c5fa00,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
2,hpg_2976f7acb4b3a3bc,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
3,hpg_e51a522e098f024c,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
4,hpg_e3d0e1519894f275,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
5,hpg_530cd91db13b938e,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
6,hpg_02457b318e186fa4,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
7,hpg_0cb3c2c490020a29,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
8,hpg_3efe9b08c887fe9a,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
9,hpg_765e8d3ba261dc1c,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
10,hpg_46b3935373e2a576,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
11,hpg_d02653e1cec8034d,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
12,hpg_ae7df991ba2f21ee,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
13,hpg_5f606bd0a074570e,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
14,hpg_c846b79f7170baf2,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
15,hpg_6ab187222a3c9ea2,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
16,hpg_8a67276f1608d544,Japanese style,Hyōgo-ken Himeji-shi Tsuchiyama,34.829926,134.673075
17,hpg_1a1c7f48b809e84b,Japanese style,Hyōgo-ken Himeji-shi Tsuchiyama,34.829926,134.673075
18,hpg_b19c264d78431857,Japanese style,Hyōgo-ken Himeji-shi Tsuchiyama,34.829926,134.673075
19,hpg_f460793514dad711,Japanese style,Hyōgo-ken Himeji-shi Tsuchiyama,34.829926,134.673075
20,hpg_bcb6dd8efee30249,Japanese style,Hyōgo-ken Himeji-shi Tsuchiyama,34.829926,134.673075
21,hpg_9630a2129b625d89,Japanese style,Hyōgo-ken Himeji-shi Tsuchiyama,34.829926,134.673075
22,hpg_a7b8fbd9e2926703,Japanese style,Hyōgo-ken Himeji-shi Tsuchiyama,34.829926,134.673075
23,hpg_a7407b2899c77f4c,Japanese style,Hyōgo-ken Himeji-shi Tsuchiyama,34.829926,134.673075
24,hpg_eb440c0d5a6df068,Japanese style,Hyōgo-ken Himeji-shi Tsuchiyama,34.829926,134.673075
25,hpg_a6a0ccb587ff39b0,Japanese style,Hyōgo-ken Himeji-shi Tsuchiyama,34.829926,134.673075
26,hpg_ff3a82aaa7e3c9b5,Japanese style,Hyōgo-ken Himeji-shi Tsuchiyama,34.829926,134.673075
27,hpg_5fee5882a0a44c43,Japanese style,Hyōgo-ken Himeji-shi Tsuchiyama,34.829926,134.673075
28,hpg_410a53a536b434c9,Japanese style,Hyōgo-ken Himeji-shi Tsuchiyama,34.829926,134.673075
29,hpg_e4641edebaf8eaec,Japanese style,Hyōgo-ken Himeji-shi Tsuchiyama,34.829926,134.673075
...,...,...,...,...,...
4660,hpg_9abed990fb16ce5d,Western food,Tōkyō-to Taitō-ku None,35.711353,139.782684
4661,hpg_0fb2b561ddb41d98,Western food,Hyōgo-ken Kōbe-shi None,34.692109,135.191698
4662,hpg_2043905c504789be,Western food,Miyagi-ken Sendai-shi None,38.260929,140.879944
4663,hpg_6606c638c06350a7,Western food,Ōsaka-fu Ōsaka-shi Awajimachi,34.686482,135.504174
4664,hpg_b73ea8282473c629,Western food,Miyagi-ken Sendai-shi Ichibanchō,38.263766,140.870329
4665,hpg_b94bd321ed2d3e87,Taiwanese/Hong Kong cuisine,Tōkyō-to Shinjuku-ku None,35.691384,139.701256
4666,hpg_aeb7e5488dc0aa6f,Cantonese food,Hyōgo-ken Kōbe-shi None,34.692109,135.191698
4667,hpg_5d5c7cf4a65a8928,Cantonese food,Hyōgo-ken Kōbe-shi None,34.692109,135.191698
4668,hpg_e52859e969de0bf9,Cantonese food,Hyōgo-ken Kōbe-shi None,34.692109,135.191698
4669,hpg_38502ff945160c3c,Cantonese food,Hyōgo-ken Kōbe-shi None,34.692109,135.191698
4670,hpg_fae18d7ae5f8f2c1,Bar/Cocktail,Hyōgo-ken Kōbe-shi None,34.692109,135.191698
4671,hpg_00394a75a35c427c,Bar/Cocktail,Hokkaidō Sapporo-shi Minami 4 Jōnishi,43.055047,141.353236
4672,hpg_0ae8324ca1507b9b,Bar/Cocktail,Hokkaidō Sapporo-shi Minami 4 Jōnishi,43.055047,141.353236
4673,hpg_94f540568a79c2cb,Bar/Cocktail,Hokkaidō Sapporo-shi Minami 4 Jōnishi,43.055047,141.353236
4674,hpg_ba00993059032b30,Bar/Cocktail,Hokkaidō Sapporo-shi Minami 4 Jōnishi,43.055047,141.353236
4675,hpg_126f14a1fba90056,Bar/Cocktail,Hokkaidō Asahikawa-shi 3 Jōdōri,43.768033,142.359664
4676,hpg_79794b2252ab13ac,Bar/Cocktail,Hokkaidō Asahikawa-shi 3 Jōdōri,43.768033,142.359664
4677,hpg_9fe972ea62e642b2,Dim Sum/Dumplings,Tōkyō-to Bunkyō-ku Kōraku,35.704527,139.746450
4678,hpg_ac0bbe5ef3915656,Dim Sum/Dumplings,Osaka Prefecture Osaka None,34.701519,135.498859
4679,hpg_7a42d3e33ff1b54d,Amusement bar,Hokkaidō Sapporo-shi Minami 4 Jōnishi,43.055047,141.353236
4680,hpg_cde530deaa97c31c,Amusement bar,Hokkaidō Sapporo-shi Minami 4 Jōnishi,43.055047,141.353236
4681,hpg_a74709cf53c76924,Amusement bar,Hokkaidō Sapporo-shi Minami 4 Jōnishi,43.055047,141.353236
4682,hpg_3c41f028563beac3,Amusement bar,Hokkaidō Sapporo-shi Minami 4 Jōnishi,43.055047,141.353236
4683,hpg_e60322667e14b99c,Amusement bar,Hokkaidō Sapporo-shi Minami 4 Jōnishi,43.055047,141.353236
4684,hpg_68637e2b90172cd3,Sichuan food,Tōkyō-to Chiyoda-ku None,35.695780,139.768453
4685,hpg_c6ed353a48c7c93e,Sichuan food,Tōkyō-to Chiyoda-ku None,35.695780,139.768453
4686,hpg_a58d2423360b2fb4,Sichuan food,Tōkyō-to Minato-ku Roppongi,35.666137,139.733978
4687,hpg_d2021704076cdd70,Shanghai food,Tōkyō-to Chiyoda-ku None,35.695780,139.768453
4688,hpg_602472570d65e219,Spain/Mediterranean cuisine,Tōkyō-to Toshima-ku None,35.730068,139.711742
4689,hpg_11801306ce8bfb4f,Udon/Soba,Osaka Prefecture Osaka None,34.701519,135.498859

In [128]:
hpg_store = hpg_store_info.copy()
air_store = air_store_info.copy()

In [129]:
hpg_store["hpg_store_id"] = hpg_store["hpg_store_id"].map(store_dict)

In [130]:
hpg_store = hpg_store.dropna()

In [131]:
hpg_store = hpg_store.rename(columns={'hpg_store_id': 'air_store_id',"hpg_area_name":"air_area_name"})

In [132]:
hpg_store

,air_store_id,hpg_genre_name,air_area_name,latitude,longitude
98,air_2aab19554f91ff82,Japanese style,Tōkyō-to Chūō-ku Ginza,35.668600,139.763043
150,air_258ad2619d7bff9a,Japanese style,Tōkyō-to Sumida-ku Tachibana,35.704960,139.828642
178,air_c47aa7493b15f297,Japanese style,Hiroshima-ken Hiroshima-shi Hondōri,34.392106,132.461914
216,air_96005f79124e12bf,Japanese style,Ōsaka-fu Ōsaka-shi Shinsaibashisuji,34.669514,135.501425
351,air_f2c5a1f24279c531,Japanese style,Tōkyō-to Taitō-ku None,35.711353,139.782684
374,air_1033310359ceeac1,Japanese style,Tōkyō-to Kōtō-ku Minamisuna,35.670728,139.824576
682,air_640cf4835f0d9ba3,Japanese style,Kanagawa-ken Yokohama-shi Nagatsutachō,35.512762,139.495733
777,air_a38f25e3399d1b25,Japanese style,Tōkyō-to Chiyoda-ku None,35.695780,139.768453
818,air_96743eee94114261,Japanese style,Niigata-ken Niigata-shi Higashiōdōri,37.914180,139.060024
820,air_de88770300008624,Japanese style,Niigata-ken Niigata-shi Higashiōdōri,37.914180,139.060024
822,air_ee3ba9af184c6c82,Japanese style,Niigata-ken Niigata-shi Higashiōdōri,37.914180,139.060024
904,air_f0fb0975bdc2cdf9,Japanese style,Hiroshima-ken Fukuyama-shi Sannomaruchō,34.489677,133.362130
1036,air_54d6c25d33f5260e,Japanese style,Fukuoka-ken Fukuoka-shi None,33.556881,130.415134
1118,air_b2a639cc7e02edf1,Japanese style,Fukuoka-ken Fukuoka-shi Daimyō,33.586969,130.392801
1466,air_3c938075889fc059,Japanese style,Fukuoka-ken Fukuoka-shi Ōmiya,33.579734,130.401762
1481,air_622375b4815cf5cb,Japanese style,Fukuoka-ken Kitakyūshū-shi Aoyama,33.861840,130.751425
1501,air_e00fe7853c0100d6,Japanese style,Hyōgo-ken Kakogawa-shi Noguchichō Yoshino,34.752826,134.847642
1502,air_3e6cea17a9d2c0f1,Japanese style,Hyōgo-ken Kakogawa-shi Noguchichō Yoshino,34.752826,134.847642
1504,air_08cb3c4ee6cd6a22,Japanese style,Hyōgo-ken Kakogawa-shi Noguchichō Yoshino,34.752826,134.847642
1665,air_04cae7c1bc9b2a0b,Japanese style,None None None,43.071045,141.309261
1793,air_97958e7fce98b6a3,Italian,Tōkyō-to Shibuya-ku None,35.659214,139.699736
1798,air_fcfbdcf7b1f82c6e,Italian,Tōkyō-to Shibuya-ku None,35.659214,139.699736
1845,air_a24bf50c3e90d583,Italian,Shizuoka-ken Hamamatsu-shi Sukenobuchō,34.721644,137.738944
1938,air_c6a164dd4060e960,Italian,Osaka Prefecture Osaka None,34.701519,135.498859
1971,air_48f4da6223571da4,Italian,Tōkyō-to Hachiōji-shi Ishikawamachi,35.677207,139.373870
2062,air_b4f32bcc399da2b9,International cuisine,Hiroshima-ken Hiroshima-shi Hondōri,34.392106,132.461914
2123,air_fcd4492c83f1c6b9,International cuisine,Tōkyō-to Shibuya-ku None,35.659214,139.699736
2329,air_32460819c7600037,International cuisine,Ōsaka-fu Ōsaka-shi Awajimachi,34.686482,135.504174
2451,air_ef789667e2e6fe96,International cuisine,Tōkyō-to Machida-shi Nakamachi,35.549670,139.448494
2457,air_eec5e572b9eb9c23,International cuisine,Fukuoka-ken Fukuoka-shi None,33.556881,130.415134
...,...,...,...,...,...
2591,air_d00161e19f08290b,International cuisine,None None None,35.688589,139.731971
2620,air_ade6e836ffd1da64,International cuisine,Fukuoka-ken Kitakyūshū-shi Sunatsu,33.881500,130.887364
2694,air_754ae581ad80cc9f,International cuisine,Niigata-ken Niigata-shi Sakaihigashi,37.869730,138.971623
2799,air_627cabe2fe53f33f,Grilled meat,Hyōgo-ken Kōbe-shi None,34.692109,135.191698
2846,air_a546cbf478a8b6e4,Grilled meat,Hokkaidō Sapporo-shi Minami 4 Jōnishi,43.055047,141.353236
2900,air_42d41eb58cad170e,Grilled meat,Fukuoka-ken Fukuoka-shi Daimyō,33.586969,130.392801
3074,air_707d4b6328f2c2df,Creation,Tōkyō-to Shibuya-ku None,35.659214,139.699736
3347,air_cbe867adcf44e14f,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.861840,130.751425
3353,air_324f7c39a8410e7c,Creation,Hyōgo-ken Kakogawa-shi Noguchichō Yoshino,34.752826,134.847642
3420,air_cfcc94797d2b5d3d,Creation,Niigata-ken Niigata-shi Sakaihigashi,37.869730,138.971623
3422,air_bb09595bab7d5cfb,Creation,Niigata-ken Niigata-shi Sakaihigashi,37.869730,138.971623
3612,air_84f6876ff7e83ae7,Japanese cuisine/Kaiseki,Fukuoka-ken Fukuoka-shi Hakata Ekimae,33.589336,130.418462
3829,air_db80363d35f10926,Seafood,Hokkaidō Asahikawa-shi 3 Jōdōri,43.768033,142.359664
3831,air_db1233ad855b34d5,Seafood,Hokkaidō Asahikawa-shi 3 Jōdōri,43.768033,142.359664
3914,air_5a9a6cbeeb434c08,Seafood,Fukuoka-ken Fukuoka-shi Ōmiya,33.579734,130.401762
3961,air_683371d9baabf410,Japanese food in general,Hyōgo-ken Himeji-shi Tsuchiyama,34.829926,134.673075
4074,air_7514d90009613cd6,Party,Hokkaidō Sapporo-shi Minami 4 Jōnishi,43.055047,141.353236
4119,air_7420042ff75f9aca,Okonomiyaki/Monja/Teppanyaki,Osaka Prefecture Osaka None,34.701519,135.498859
4148,air_4cca5666eaf5c709,Spain Bar/Italian Bar,Tōkyō-to Sumida-ku Tachibana,35.704960,139.828642
4171,air_db4b38ebe7a7ceff,Spain Bar/Italian Bar,Ōsaka-fu Ōsaka-shi Shinsaibashisuji,34.669514,135.501425
4186,air_f8233ad00755c35c,Spain Bar/Italian Bar,Tōkyō-to Shibuya-ku None,35.659214,139.699736
4224,air_082908692355165e,Spain Bar/Italian Bar,Tōkyō-to Shinjuku-ku None,35.691384,139.701256
4312,air_638c35eb25e53eea,Spain Bar/Italian Bar,Fukuoka-ken Fukuoka-shi Daimyō,33.586969,130.392801
4333,air_465bddfed3353b23,Spain Bar/Italian Bar,Tōkyō-to Shibuya-ku Ebisunishi,35.646745,139.707924
4358,air_1d1e8860ae04f8e9,Spain Bar/Italian Bar,Tōkyō-to Shinjuku-ku Takadanobaba,35.712411,139.706564
4520,air_8f3b563416efc6ad,Creative Japanese food,Tōkyō-to Shinjuku-ku None,35.691384,139.701256
4581,air_52a08ef3efdb4bb0,Karaoke,Hokkaidō Asahikawa-shi 3 Jōdōri,43.768033,142.359664
4616,air_2a485b92210c98b5,Cafe,Hiroshima-ken Hiroshima-shi Hondōri,34.392106,132.461914
4645,air_0a74a5408a0b8642,Steak/Hamburger/Curry,Hokkaidō Sapporo-shi Minami 4 Jōnishi,43.055047,141.353236
4682,air_fc477473134e9ae5,Amusement bar,Hokkaidō Sapporo-shi Minami 4 Jōnishi,43.055047,141.353236

In [133]:
hpg_store2 = hpg_store.drop(["air_area_name","latitude","longitude"],axis = 1)

In [134]:
store = pd.merge(air_store,hpg_store2,on ="air_store_id", how = "left")

In [135]:
store.head()

,air_store_id,air_genre_name,air_area_name,latitude,longitude,hpg_genre_name
0,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,NaN
1,air_7cc17a324ae5c7dc,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,NaN
2,air_fee8dcf4d619598e,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,NaN
3,air_a17f0778617c76e2,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,NaN
4,air_83db5aff8f50478e,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN

これでストア情報の処理も終わりました。  
reservesとstoreをくっつけましょう。

In [136]:
data_1 = pd.merge(reserve,store,on ="air_store_id", how = "left")

In [137]:
date = pd

In [138]:
date_infos = date_info.rename(columns={'calendar_date': 'visit_datetime'})

In [139]:
data = pd.merge(data_1,date_infos,on = "visit_datetime",how = "left")

In [140]:
data.isnull().sum()

air_store_id             0
visit_datetime           0
reserve_visitors         0
visitors                 0
air_genre_name           0
air_area_name            0
latitude                 0
longitude                0
hpg_genre_name      234770
day_of_week              0
holiday_flg              0
dtype: int64

In [141]:
data.to_csv("data.csv")

# 時系列データの扱い
今回は時系列データなので、まずはTARGETに条件を合わせてみる。

In [142]:
data1 = data.copy()

In [143]:
data1.isnull().sum()

air_store_id             0
visit_datetime           0
reserve_visitors         0
visitors                 0
air_genre_name           0
air_area_name            0
latitude                 0
longitude                0
hpg_genre_name      234770
day_of_week              0
holiday_flg              0
dtype: int64

In [144]:
data1['date'] = pd.to_datetime(data['visit_datetime'])

In [145]:
data1 = data1.set_index('date')

In [146]:
data1["dates"] = data1.index

In [147]:
data1.shape

(257178, 12)

In [148]:
data1.dtypes

air_store_id                object
visit_datetime              object
reserve_visitors           float64
visitors                   float64
air_genre_name              object
air_area_name               object
latitude                   float64
longitude                  float64
hpg_genre_name              object
day_of_week                 object
holiday_flg                  int64
dates               datetime64[ns]
dtype: object

TARGETを1度マージ

In [149]:
data1.head(100)

,air_store_id,visit_datetime,reserve_visitors,visitors,air_genre_name,air_area_name,latitude,longitude,hpg_genre_name,day_of_week,holiday_flg,dates
date,,,,,,,,,,,,
2016-01-14,air_00a91d42b08b08d9,2016-01-14,2.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Thursday,0,2016-01-14
2016-01-15,air_00a91d42b08b08d9,2016-01-15,4.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Friday,0,2016-01-15
2016-01-16,air_00a91d42b08b08d9,2016-01-16,2.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Saturday,0,2016-01-16
2016-01-22,air_00a91d42b08b08d9,2016-01-22,2.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Friday,0,2016-01-22
2016-01-29,air_00a91d42b08b08d9,2016-01-29,5.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Friday,0,2016-01-29
2016-02-05,air_00a91d42b08b08d9,2016-02-05,2.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Friday,0,2016-02-05
2016-03-08,air_00a91d42b08b08d9,2016-03-08,3.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Tuesday,0,2016-03-08
2016-04-04,air_00a91d42b08b08d9,2016-04-04,1.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Monday,0,2016-04-04
2016-04-07,air_00a91d42b08b08d9,2016-04-07,2.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Thursday,0,2016-04-07
2016-04-08,air_00a91d42b08b08d9,2016-04-08,7.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Friday,0,2016-04-08
2016-04-09,air_00a91d42b08b08d9,2016-04-09,4.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Saturday,0,2016-04-09
2016-04-22,air_00a91d42b08b08d9,2016-04-22,2.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Friday,0,2016-04-22
2016-04-28,air_00a91d42b08b08d9,2016-04-28,2.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Thursday,0,2016-04-28
2016-05-06,air_00a91d42b08b08d9,2016-05-06,2.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Friday,0,2016-05-06
2016-05-12,air_00a91d42b08b08d9,2016-05-12,5.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Thursday,0,2016-05-12
2016-05-13,air_00a91d42b08b08d9,2016-05-13,3.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Friday,0,2016-05-13
2016-05-20,air_00a91d42b08b08d9,2016-05-20,1.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Friday,0,2016-05-20
2016-05-27,air_00a91d42b08b08d9,2016-05-27,15.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Friday,0,2016-05-27
2016-06-03,air_00a91d42b08b08d9,2016-06-03,4.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Friday,0,2016-06-03
2016-06-09,air_00a91d42b08b08d9,2016-06-09,5.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Thursday,0,2016-06-09
2016-06-10,air_00a91d42b08b08d9,2016-06-10,4.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Friday,0,2016-06-10
2016-06-16,air_00a91d42b08b08d9,2016-06-16,2.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Thursday,0,2016-06-16
2016-06-17,air_00a91d42b08b08d9,2016-06-17,2.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Friday,0,2016-06-17
2016-06-22,air_00a91d42b08b08d9,2016-06-22,7.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Wednesday,0,2016-06-22
2016-06-24,air_00a91d42b08b08d9,2016-06-24,6.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Friday,0,2016-06-24
2016-06-30,air_00a91d42b08b08d9,2016-06-30,3.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Thursday,0,2016-06-30
2016-07-01,air_00a91d42b08b08d9,2016-07-01,1.0,35.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Friday,0,2016-07-01
2016-07-02,air_00a91d42b08b08d9,2016-07-02,0.0,9.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Saturday,0,2016-07-02
2016-07-04,air_00a91d42b08b08d9,2016-07-04,0.0,20.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Monday,0,2016-07-04
2016-07-05,air_00a91d42b08b08d9,2016-07-05,0.0,25.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Tuesday,0,2016-07-05
...,...,...,...,...,...,...,...,...,...,...,...,...
2016-08-26,air_00a91d42b08b08d9,2016-08-26,2.0,39.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Friday,0,2016-08-26
2016-08-27,air_00a91d42b08b08d9,2016-08-27,3.0,9.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Saturday,0,2016-08-27
2016-08-29,air_00a91d42b08b08d9,2016-08-29,0.0,20.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Monday,0,2016-08-29
2016-08-30,air_00a91d42b08b08d9,2016-08-30,0.0,17.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Tuesday,0,2016-08-30
2016-08-31,air_00a91d42b08b08d9,2016-08-31,0.0,36.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Wednesday,0,2016-08-31
2016-09-01,air_00a91d42b08b08d9,2016-09-01,0.0,24.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Thursday,0,2016-09-01
2016-09-02,air_00a91d42b08b08d9,2016-09-02,5.0,26.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Friday,0,2016-09-02
2016-09-03,air_00a91d42b08b08d9,2016-09-03,0.0,5.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Saturday,0,2016-09-03
2016-09-05,air_00a91d42b08b08d9,2016-09-05,0.0,17.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Monday,0,2016-09-05
2016-09-06,air_00a91d42b08b08d9,2016-09-06,0.0,27.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Tuesday,0,2016-09-06
2016-09-07,air_00a91d42b08b08d9,2016-09-07,0.0,30.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Wednesday,0,2016-09-07
2016-09-08,air_00a91d42b08b08d9,2016-09-08,0.0,19.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Thursday,0,2016-09-08
2016-09-09,air_00a91d42b08b08d9,2016-09-09,0.0,33.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Friday,0,2016-09-09
2016-09-10,air_00a91d42b08b08d9,2016-09-10,0.0,3.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Saturday,0,2016-09-10
2016-09-12,air_00a91d42b08b08d9,2016-09-12,2.0,23.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Monday,0,2016-09-12
2016-09-13,air_00a91d42b08b08d9,2016-09-13,0.0,30.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Tuesday,0,2016-09-13
2016-09-14,air_00a91d42b08b08d9,2016-09-14,0.0,20.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Wednesday,0,2016-09-14
2016-09-15,air_00a91d42b08b08d9,2016-09-15,0.0,30.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Thursday,0,2016-09-15
2016-09-16,air_00a91d42b08b08d9,2016-09-16,0.0,34.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Friday,0,2016-09-16
2016-09-17,air_00a91d42b08b08d9,2016-09-17,2.0,6.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Saturday,0,2016-09-17
2016-09-20,air_00a91d42b08b08d9,2016-09-20,0.0,11.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Tuesday,0,2016-09-20
2016-09-21,air_00a91d42b08b08d9,2016-09-21,0.0,34.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Wednesday,0,2016-09-21
2016-09-23,air_00a91d42b08b08d9,2016-09-23,1.0,29.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Friday,0,2016-09-23
2016-09-24,air_00a91d42b08b08d9,2016-09-24,2.0,19.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Saturday,0,2016-09-24
2016-09-26,air_00a91d42b08b08d9,2016-09-26,0.0,18.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Monday,0,2016-09-26
2016-09-27,air_00a91d42b08b08d9,2016-09-27,0.0,20.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Tuesday,0,2016-09-27
2016-09-28,air_00a91d42b08b08d9,2016-09-28,2.0,28.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Wednesday,0,2016-09-28
2016-09-29,air_00a91d42b08b08d9,2016-09-29,0.0,21.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Thursday,0,2016-09-29
2016-09-30,air_00a91d42b08b08d9,2016-09-30,0.0,41.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Friday,0,2016-09-30
2016-10-01,air_00a91d42b08b08d9,2016-10-01,0.0,56.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Saturday,0,2016-10-01

In [150]:
data1.shape

(257178, 12)

train_data = data1[data1.index.month == 4]
train_data = train_data[train_data.index.day >= 23]
train_data = train_data.append(data1[data1.index.month == 5])

In [151]:
train_data = data1[data1.index.month == 4]

In [152]:
train_data = train_data[train_data.index.day >= 23]

In [66]:
train_data = train_data.append(data1[data1.index.month == 5])

In [67]:
train_data.head()

,air_store_id,visit_datetime,reserve_visitors,visitors,air_genre_name,air_area_name,latitude,longitude,hpg_genre_name,day_of_week,holiday_flg,dates
date,,,,,,,,,,,,
2016-04-28,air_00a91d42b08b08d9,2016-04-28,2.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Thursday,0,2016-04-28
2016-04-23,air_0241aa3964b7f861,2016-04-23,0.0,18.0,Izakaya,Tōkyō-to Taitō-ku Higashiueno,35.712607,139.779996,NaN,Saturday,0,2016-04-23
2016-04-24,air_0241aa3964b7f861,2016-04-24,0.0,23.0,Izakaya,Tōkyō-to Taitō-ku Higashiueno,35.712607,139.779996,NaN,Sunday,0,2016-04-24
2016-04-25,air_0241aa3964b7f861,2016-04-25,0.0,6.0,Izakaya,Tōkyō-to Taitō-ku Higashiueno,35.712607,139.779996,NaN,Monday,0,2016-04-25
2016-04-26,air_0241aa3964b7f861,2016-04-26,0.0,17.0,Izakaya,Tōkyō-to Taitō-ku Higashiueno,35.712607,139.779996,NaN,Tuesday,0,2016-04-26

In [68]:
train_data.shape

(11513, 12)

In [153]:
data1.drop(["visit_datetime","air_store_id"],axis = 1)

,reserve_visitors,visitors,air_genre_name,air_area_name,latitude,longitude,hpg_genre_name,day_of_week,holiday_flg,dates
date,,,,,,,,,,
2016-01-14,2.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Thursday,0,2016-01-14
2016-01-15,4.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Friday,0,2016-01-15
2016-01-16,2.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Saturday,0,2016-01-16
2016-01-22,2.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Friday,0,2016-01-22
2016-01-29,5.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Friday,0,2016-01-29
2016-02-05,2.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Friday,0,2016-02-05
2016-03-08,3.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Tuesday,0,2016-03-08
2016-04-04,1.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Monday,0,2016-04-04
2016-04-07,2.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Thursday,0,2016-04-07
2016-04-08,7.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Friday,0,2016-04-08
2016-04-09,4.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Saturday,0,2016-04-09
2016-04-22,2.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Friday,0,2016-04-22
2016-04-28,2.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Thursday,0,2016-04-28
2016-05-06,2.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Friday,0,2016-05-06
2016-05-12,5.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Thursday,0,2016-05-12
2016-05-13,3.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Friday,0,2016-05-13
2016-05-20,1.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Friday,0,2016-05-20
2016-05-27,15.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Friday,0,2016-05-27
2016-06-03,4.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Friday,0,2016-06-03
2016-06-09,5.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Thursday,0,2016-06-09
2016-06-10,4.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Friday,0,2016-06-10
2016-06-16,2.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Thursday,0,2016-06-16
2016-06-17,2.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Friday,0,2016-06-17
2016-06-22,7.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Wednesday,0,2016-06-22
2016-06-24,6.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Friday,0,2016-06-24
2016-06-30,3.0,0.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Thursday,0,2016-06-30
2016-07-01,1.0,35.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Friday,0,2016-07-01
2016-07-02,0.0,9.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Saturday,0,2016-07-02
2016-07-04,0.0,20.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Monday,0,2016-07-04
2016-07-05,0.0,25.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,Tuesday,0,2016-07-05
...,...,...,...,...,...,...,...,...,...,...
2017-03-24,0.0,8.0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,Friday,0,2017-03-24
2017-03-25,0.0,7.0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,Saturday,0,2017-03-25
2017-03-26,0.0,3.0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,Sunday,0,2017-03-26
2017-03-27,0.0,4.0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,Monday,0,2017-03-27
2017-03-28,0.0,9.0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,Tuesday,0,2017-03-28
2017-03-29,0.0,2.0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,Wednesday,0,2017-03-29
2017-03-30,0.0,5.0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,Thursday,0,2017-03-30
2017-03-31,0.0,5.0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,Friday,0,2017-03-31
2017-04-01,0.0,9.0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,Saturday,0,2017-04-01
2017-04-02,0.0,2.0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,Sunday,0,2017-04-02
2017-04-03,0.0,2.0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,Monday,0,2017-04-03
2017-04-04,0.0,4.0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,Tuesday,0,2017-04-04
2017-04-05,0.0,6.0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,Wednesday,0,2017-04-05
2017-04-06,0.0,6.0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,Thursday,0,2017-04-06
2017-04-07,0.0,9.0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,Friday,0,2017-04-07
2017-04-08,0.0,4.0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,Saturday,0,2017-04-08
2017-04-09,0.0,5.0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,Sunday,0,2017-04-09
2017-04-10,0.0,6.0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,Monday,0,2017-04-10
2017-04-11,0.0,1.0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,Tuesday,0,2017-04-11
2017-04-12,0.0,6.0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,Wednesday,0,2017-04-12
2017-04-13,0.0,1.0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,Thursday,0,2017-04-13
2017-04-14,0.0,5.0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,Friday,0,2017-04-14
2017-04-15,0.0,7.0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,Saturday,0,2017-04-15
2017-04-16,0.0,7.0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,Sunday,0,2017-04-16
2017-04-17,0.0,3.0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,Monday,0,2017-04-17
2017-04-18,0.0,6.0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,Tuesday,0,2017-04-18
2017-04-19,0.0,2.0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,Wednesday,0,2017-04-19
2017-04-20,0.0,2.0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,Thursday,0,2017-04-20
2017-04-21,0.0,4.0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,Friday,0,2017-04-21
2017-04-22,0.0,5.0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,Saturday,0,2017-04-22

In [154]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
def les(data):
    
    for col in data:
        if data[col].dtype == "object":
            if len(list(data[col].unique())) <= 2:
                le.fit(data[col])
            
                data[col] = le.transform(data[col])
                
    data = pd.get_dummies(data)
    return data

In [155]:
def ch_category(data):
    
    for col in data:
        if data[col].dtype == "object":
            data[col] = data[col].astype('category')
            
    return data

In [72]:
#train = ch_category(train_data)

In [156]:
data1["dates"] = data1["dates"].astype("object")

In [157]:
train = les(data1)

In [158]:
train.shape

(257178, 1990)

In [159]:
train.isnull().sum()

reserve_visitors                     0
visitors                             0
latitude                             0
longitude                            0
holiday_flg                          0
air_store_id_air_00a91d42b08b08d9    0
air_store_id_air_0164b9927d20bcc3    0
air_store_id_air_0241aa3964b7f861    0
air_store_id_air_0328696196e46f18    0
air_store_id_air_034a3d5b40d5b1b1    0
air_store_id_air_036d4f1ee7285390    0
air_store_id_air_0382c794b73b51ad    0
air_store_id_air_03963426c9312048    0
air_store_id_air_04341b588bde96cd    0
air_store_id_air_049f6d5b402a31b2    0
air_store_id_air_04cae7c1bc9b2a0b    0
air_store_id_air_0585011fa179bcce    0
air_store_id_air_05c325d315cc17f5    0
air_store_id_air_0647f17b4dc041c8    0
air_store_id_air_064e203265ee5753    0
air_store_id_air_066f0221b8a4d533    0
air_store_id_air_06f95ac5c33aca10    0
air_store_id_air_0728814bd98f7367    0
air_store_id_air_0768ab3910f7967f    0
air_store_id_air_07b314d83059c4d2    0
air_store_id_air_07bb665f9cdfbdfb    0
air_store_id_air_082908692355165e    0
air_store_id_air_083ddc520ea47e1e    0
air_store_id_air_0845d8395f30c6bb    0
air_store_id_air_084d98859256acf0    0
                                    ..
dates_2017-04-23 00:00:00            0
dates_2017-04-24 00:00:00            0
dates_2017-04-25 00:00:00            0
dates_2017-04-26 00:00:00            0
dates_2017-04-27 00:00:00            0
dates_2017-04-28 00:00:00            0
dates_2017-04-29 00:00:00            0
dates_2017-04-30 00:00:00            0
dates_2017-05-01 00:00:00            0
dates_2017-05-02 00:00:00            0
dates_2017-05-03 00:00:00            0
dates_2017-05-04 00:00:00            0
dates_2017-05-05 00:00:00            0
dates_2017-05-06 00:00:00            0
dates_2017-05-07 00:00:00            0
dates_2017-05-08 00:00:00            0
dates_2017-05-09 00:00:00            0
dates_2017-05-10 00:00:00            0
dates_2017-05-11 00:00:00            0
dates_2017-05-12 00:00:00            0
dates_2017-05-13 00:00:00            0
dates_2017-05-17 00:00:00            0
dates_2017-05-18 00:00:00            0
dates_2017-05-19 00:00:00            0
dates_2017-05-20 00:00:00            0
dates_2017-05-21 00:00:00            0
dates_2017-05-24 00:00:00            0
dates_2017-05-26 00:00:00            0
dates_2017-05-27 00:00:00            0
dates_2017-05-31 00:00:00            0
Length: 1990, dtype: int64

In [160]:
import lightgbm as lgb
from sklearn.model_selection import train_test_split

In [161]:
target = train.visitors
test_train = train.drop(["visitors"],axis = 1)

In [162]:
x_train,x_test,y_train,y_test = train_test_split(test_train,target,test_size = 0.2)

In [163]:
def rmsle(y, y0):
    assert len(y) == len(y0)
    return np.sqrt(np.mean(np.power(np.log1p(y)-np.log1p(y0), 2)))

In [166]:
d_trainL1 = lgb.Dataset(x_train, label=y_train)
d_validL1 = lgb.Dataset(x_test, label=y_test)
watchlistL1 = [d_trainL1, d_validL1]
paramsL1 = {
        'learning_rate': 0.55,
        'application': 'regression',
        'max_depth': 5,
        'num_leaves': 60,
        'verbosity': -1,
        'metric': 'RMSE',
        'data_random_seed': 1,
        'bagging_fraction': 0.5,
        'nthread': 5
    }
modelL1 = lgb.train(paramsL1, train_set=d_trainL1, num_boost_round=8000, valid_sets=watchlistL1, \
early_stopping_rounds=1000, verbose_eval=500)

Training until validation scores don't improve for 1000 rounds.
[500]	training's rmse: 11.0585	valid_1's rmse: 11.1091
[1000]	training's rmse: 10.4455	valid_1's rmse: 11.007
[1500]	training's rmse: 10.1112	valid_1's rmse: 10.9759
[2000]	training's rmse: 9.89201	valid_1's rmse: 10.9698
[2500]	training's rmse: 9.6713	valid_1's rmse: 10.9689
[3000]	training's rmse: 9.5483	valid_1's rmse: 10.9873
Early stopping, best iteration is:
[2296]	training's rmse: 9.75898	valid_1's rmse: 10.9559

In [167]:
pred = modelL1.predict(x_test)
rmsleL2 = rmsle(pred, y_test)
print(rmsleL2)

0.6573761420282467

/Users/ishikawaryuuichi/.pyenv/versions/anaconda3-4.3.0/lib/python3.6/site-packages/ipykernel/__main__.py:3: RuntimeWarning: invalid value encountered in log1p
  app.launch_new_instance()

In [ ]:
pd.DataFrame(pred)

In [ ]:
y_test

In [ ]:
sample.head()

In [ ]:
sample1 = sample.drop("visitors",axis = 1)

In [ ]:
sample1 = sample1.rename(columns={'id': 'air_store_id',"visit_date":"dates"})

In [ ]:
sample1["dates"] = pd.to_datetime(sample1['dates'])

In [ ]:
sample1

In [ ]:
sample3 = pd.merge(sample1,data1,on = ["air_store_id"],how = "left")

In [ ]:
sample3.shape

In [ ]:
sample3

In [ ]:
sample1.shape

In [ ]:
x_train.head()

In [ ]:
air_visit

In [ ]:
data1.sort_values(by = "reserve_visitors")

In [ ]:
x_train